{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger">
                <p><strong>Error:</strong> {{ error }}</p>
            </div>
        {% endif %}
        {% from "_formhelpers.html" import render_field %}
        {% from "_formhelpers.html" import render_datepicker %}
        {% if doc_change_id == 0 %}
            <h2 class="form-heading">Add a New Document Change</h2>
        {% else %}
            <h2 class="form-heading">Document Change {{ doc_change_id }}</h2>
        {% endif %}
        <!-- Problem Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Problem Description</h4>
            </div>
            <div class="panel-body">
                {% if doc_change_id == 0 %}
                    <form action="{{ url_for('insert_doc_change') }}" method=post>
                {% else %}
                    <form action="{{ url_for('update_doc_change', doc_change_id=doc_change_id) }}" method=post>
                {% endif %}
                {% if doc_change_id == 0 %}
                {% else %}
                    {{ render_field(doc_change_form.id, class='form-control') }}
                    {{ render_field(doc_change_form.status_id, class='form-control') }}
                    {{ render_field(doc_change_form.submit_by, class='form-control') }}
                    {{ render_field(doc_change_form.submit_date, class='form-control') }}
                {% endif %}
                {{ render_field(doc_change_form.problem_desc, class='form-control') }}
                {{ render_field(doc_change_form.proposal_desc, class='form-control') }}
                {{ render_datepicker(doc_change_form.proposed_implement_date, class='form-control') }}
                {% if doc_change_id == 0 %}
                {% else %}
                    {{ render_field(doc_change_form.actual_implement_date, class='form-control') }}
                {% endif %}
                {% if doc_change_id == 0 %}
                    <button class="btn btn-primary btn-lg btn-block pull-right" type="submit" value="Save">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                {% else %}
                    <button class="btn btn-primary btn-lg btn-block pull-right" type="submit" value="Update">
                        <span class="glyphicon glyphicon-save"></span> Update
                    </button>
                {% endif %}
                </form>
            </div>
        </div> <!-- /Problem Panel -->

        {% if doc_change_id == 0 %}
        {% else %}
            <!-- Affected Parts Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Affected Part Numbers</h4>
                </div>
                <div class="panel-body">
                    <div class="table table-responsive">
                        <table data-toggle="table" data-search="true" data-show-columns="true">
                            <thead>
                            <tr>
                                <th data-visible="false">ID</th>
                                <th data-visible="false">Doc Change ID</th>
                                <th data-sortable="true" data-align="left">Part No</th>
                                <th data-sortable="true" data-align="center">Rev</th>
                                <th data-sortable="true" data-align="left">Routing</th>
                                <th data-sortable="false" data-align="left">Description</th>
                                <th data-sortable="false" data-align="center">Edit</th>
                                <th data-sortable="false" data-align="center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in affected_parts_rows %}
                                <tr>
                                    <td>{{ row['id'] }}</td>
                                    <td>{{ row['doc_change_id'] }}</td>
                                    <td>{{ row['part_no'] }}</td>
                                    <td>{{ row['revision'] }}</td>
                                    <td>{{ row['routing'] }}</td>
                                    <td>{{ row['description'] }}</td>
                                    <td>
                                        <button class="btn btn-primary" value="Edit" data-toggle="modal"
                                                data-target="#AffectedPartsModal"
                                                data-row_id="{{ row['id'] }}"
                                                data-doc_change_id="{{ row['doc_change_id'] }}"
                                                data-part_no="{{ row['part_no'] }}"
                                                data-revision="{{ row['revision'] }}"
                                                data-routing="{{ row['routing'] }}"
                                                data-description="{{ row['description'] }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                    <td>
                                        <form method="post"
                                              action="{{ url_for('delete_affected_part_no', row_id=row['id'], doc_change_id=row['doc_change_id']) }}">
                                            <button class="btn btn-danger" type="submit" value="{{ row['id'] }}">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <button class="btn btn-primary pull-right" value="Add" data-toggle="modal"
                                data-target="#AffectedPartsModal">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add Part No
                        </button>

                        <!-- Affected Parts Modal Window -->
                        <div class="modal fade" id="AffectedPartsModal" tabindex="-1" role="dialog"
                             aria-labelledby="AffectedPartsModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action="{{ url_for('insert_affected_part_no') }}" method=post>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="AffectedPartsModalLabel">Add Affected Part
                                                No</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ render_field(doc_change_affected_parts_form.id, class='form-control') }}
                                            {{ render_field(doc_change_affected_parts_form.doc_change_id, class='form-control') }}
                                            {{ render_field(doc_change_affected_parts_form.part_no, class='form-control') }}
                                            {{ render_field(doc_change_affected_parts_form.desc, class='form-control') }}
                                            {{ render_field(doc_change_affected_parts_form.rev, class='form-control') }}
                                            {{ render_field(doc_change_affected_parts_form.routing, class='form-control') }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" id="close"
                                                    data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span> Close
                                            </button>
                                            <button class="btn btn-primary" type="submit" id="save">
                                                <span class="glyphicon glyphicon-save"></span> Save Changes
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /Affected Parts Modal Window -->

                    </div>
                </div>
            </div> <!-- /Affected Parts Panel -->

            <!-- Request / Order / Notice Panel Group -->
            <div class="panel-group" id="accordion">

                <!-- Request Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">1. Request</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="table table-responsive">
                                <table data-toggle="table" data-search="true" data-show-columns="true">
                                    <thead>
                                    <tr>
                                        <th data-visible="false">ID</th>
                                        <th data-visible="false">Doc Change ID</th>
                                        <th data-sortable="true" data-align="left">Name</th>
                                        <th data-sortable="true" data-align="left">Email Address</th>
                                        <th data-sortable="true" data-align="center">Status</th>
                                        <th data-sortable="false" data-align="center">Sent Date</th>
                                        <th data-sortable="false" data-align="center">Approval Date</th>
                                        <th data-sortable="false" data-align="left">Notes</th>
                                        <th data-sortable="false" data-align="center">Edit</th>
                                        <th data-sortable="false" data-align="center">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in request_rows %}
                                        <tr>
                                            <td>{{ row['id'] }}</td>
                                            <td>{{ row['doc_change_id'] }}</td>
                                            <td>{{ row['stakeholder_name'] }}</td>
                                            <td>{{ row['stakeholder_email'] }}</td>
                                            <td>{{ row['status'] }}</td>
                                            <td>{{ row['sent_date'] }}</td>
                                            <td>{{ row['approval_date'] }}</td>
                                            <td>{{ row['notes'] }}</td>
                                            <td>
                                                <button class="btn btn-primary" value="Edit" data-toggle="modal"
                                                        data-target="#RequestModal"
                                                        data-row_id="{{ row['id'] }}"
                                                        data-doc_change_id="{{ row['doc_change_id'] }}"
                                                        data-stakeholder_name="{{ row['stakeholder_name'] }}"
                                                        data-stakeholder_email="{{ row['stakeholder_email'] }}"
                                                        data-notes="{{ row['notes'] }}">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <form method="post"
                                                      action="{{ url_for('delete_request', row_id=row['id'], doc_change_id=row['doc_change_id']) }}">
                                                    <button class="btn btn-danger" type="submit"
                                                            value="{{ row['id'] }}">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                {# TODO: Implement Promote button #}
                                {# TODO: Implement Send button #}
                                <div class="btn-group pull-right">
                                    <button class="btn btn-primary" type="submit" value="Add"
                                            data-toggle="modal" data-target="#RequestModal">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Add a Stakeholder
                                    </button>
                                    <button class="btn btn-default" type="button" value="SendRequest" disabled>
                                        <span class="glyphicon glyphicon-send"></span> Email Requests
                                    </button>
                                    <button class="btn btn-default" type="button" value="PromoteRequest" disabled>
                                        <span class="glyphicon glyphicon-share-alt"></span> Promote to Order
                                    </button>
                                </div>
                            </div>

                            <!-- Request Modal Window -->
                            <div class="modal fade" id="RequestModal" tabindex="-1" role="dialog"
                                 aria-labelledby="RequestModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form action="{{ url_for('insert_request') }}" method=post>
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="RequestModalLabel">Add Stakeholder</h4>
                                            </div>
                                            <div class="modal-body">
                                                {{ render_field(doc_change_request_form.id, class='form-control') }}
                                                {{ render_field(doc_change_request_form.doc_change_id, class='form-control') }}
                                                {{ render_field(doc_change_request_form.stakeholder_name, class='form-control') }}
                                                {{ render_field(doc_change_request_form.stakeholder_email, class='form-control') }}
                                                {{ render_field(doc_change_request_form.notes, class='form-control') }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" id="close"
                                                        data-dismiss="modal">
                                                    <span class="glyphicon glyphicon-remove"></span> Close
                                                </button>
                                                <button class="btn btn-primary" type="submit" id="save">
                                                    <span class="glyphicon glyphicon-save"></span> Save Changes
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- /Request Modal Window -->

                        </div>
                    </div>
                </div> <!-- /Request Panel -->

                <!-- Order Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">2. Order</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="table table-responsive">
                                <table data-toggle="table" data-search="true" data-show-columns="true">
                                    <thead>
                                    <tr>
                                        <th data-visible="false">ID</th>
                                        <th data-visible="false">Document Change ID</th>
                                        <th data-sortable="true" data-align="left">Document</th>
                                        <th data-sortable="false" data-align="left">Notes</th>
                                        <th data-sortable="true" data-align="left">Name</th>
                                        <th data-sortable="true" data-align="left">Email Address</th>
                                        <th data-sortable="true" data-align="center">Due Date</th>
                                        <th data-sortable="false" data-align="center">Sent Date</th>
                                        <th data-sortable="false" data-align="center">Completed Date</th>
                                        <th data-sortable="false" data-align="center">New Rev</th>
                                        <th data-sortable="false" data-align="center">Edit</th>
                                        <th data-sortable="false" data-align="center">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in order_rows %}
                                        <tr>
                                            <td>{{ row['id'] }}</td>
                                            <td>{{ row['doc_change_id'] }}</td>
                                            <td>{{ row['document_name'] }}</td>
                                            <td>{{ row['notes'] }}</td>
                                            <td>{{ row['responsible_name'] }}</td>
                                            <td>{{ row['responsible_email'] }}</td>
                                            <td>{{ row['due_date'] }}</td>
                                            <td>{{ row['sent_date'] }}</td>
                                            <td>{{ row['completed_date'] }}</td>
                                            <td>{{ row['new_revision'] }}</td>
                                            <td>
                                                <button class="btn btn-primary" value="Edit" data-toggle="modal"
                                                        data-target="#OrderModal"
                                                        data-row_id="{{ row['id'] }}"
                                                        data-doc_change_id="{{ row['doc_change_id'] }}"
                                                        data-document_type_id="{{ row['document_type_id'] }}"
                                                        data-notes="{{ row['notes'] }}"
                                                        data-responsible_name="{{ row['responsible_name'] }}"
                                                        data-responsible_email="{{ row['responsible_email'] }}"
                                                        data-due_date="{{ row['due_date'] }}"
                                                        data-new_revision="{{ row['new_revision'] }}">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <form method="post"
                                                      action="{{ url_for('delete_order', row_id=row['id'], doc_change_id=row['doc_change_id']) }}">
                                                    <button class="btn btn-danger" type="submit"
                                                            value="{{ row['id'] }}">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-primary" type="submit" value="Add" data-toggle="modal"
                                            data-target="#OrderModal">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Add an Order
                                    </button>
                                    {# TODO: Implement Promote button #}
                                    {# TODO: Implement Send button #}
                                    <button class="btn btn-default" type="button" value="SendOrder" disabled>
                                        <span class="glyphicon glyphicon-send"></span> Email Orders
                                    </button>
                                    <button class="btn btn-default" type="button" value="PromoteOrder" disabled>
                                        <span class="glyphicon glyphicon-share-alt"></span> Promote to Notice
                                    </button>
                                </div>
                            </div>

                            <!-- Order Modal Window -->
                            <div class="modal fade" id="OrderModal" tabindex="-1" role="dialog"
                                 aria-labelledby="OrderModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form action="{{ url_for('insert_order') }}" method=post>
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="OrderModalLabel">Add Order</h4>
                                            </div>
                                            <div class="modal-body">
                                                {{ render_field(doc_change_order_form.id, class='form-control') }}
                                                {{ render_field(doc_change_order_form.doc_change_id, class='form-control') }}
                                                {{ render_field(doc_change_order_form.document_type_id, class='form-control') }}
                                                {{ render_field(doc_change_order_form.responsible_name, class='form-control') }}
                                                {{ render_field(doc_change_order_form.responsible_email, class='form-control') }}
                                                {{ render_datepicker(doc_change_order_form.due_date, class='form-control') }}
                                                {{ render_field(doc_change_order_form.new_revision, class='form-control') }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" id="close"
                                                        data-dismiss="modal">
                                                    <span class="glyphicon glyphicon-remove"></span> Close
                                                </button>
                                                <button class="btn btn-primary" type="submit" id="save">
                                                    <span class="glyphicon glyphicon-save"></span> Save Changes
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- /Order Modal Window -->

                        </div>
                    </div>
                </div> <!-- /Order Panel -->

                <!-- Notice Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">3. Notice</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="table table-responsive">
                                <table data-toggle="table" data-search="true" data-show-columns="true">
                                    <thead>
                                    <tr>
                                        <th data-sortable="true" data-align="left">Name</th>
                                        <th data-sortable="true" data-align="left">Email Address</th>
                                        <th data-sortable="false" data-align="center">Sent Date</th>
                                        <th data-sortable="false" data-align="center">Approval Date</th>
                                        <th data-sortable="false" data-align="left">Notes</th>
                                        <th data-sortable="false" data-align="center">Edit</th>
                                        <th data-sortable="false" data-align="center">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in notice_rows %}
                                        <tr>
                                            <td>{{ row['authorize_name'] }}</td>
                                            <td>{{ row['authorize_email'] }}</td>
                                            <td>{{ row['sent_date'] }}</td>
                                            <td>{{ row['authorize_date'] }}</td>
                                            <td>{{ row['notes'] }}</td>
                                            <td>
                                                <button class="btn btn-primary" value="Edit" data-toggle="modal"
                                                        data-target="#NoticeModal"
                                                        data-row_id="{{ row['id'] }}"
                                                        data-doc_change_id="{{ row['doc_change_id'] }}"
                                                        data-authorize_name="{{ row['authorize_name'] }}"
                                                        data-authorize_email="{{ row['authorize_email'] }}"
                                                        data-notes="{{ row['notes'] }}">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <form method="post"
                                                      action="{{ url_for('delete_notice', row_id=row['id'], doc_change_id=row['doc_change_id']) }}">
                                                    <button class="btn btn-danger" type="submit"
                                                            value="{{ row['id'] }}">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-primary" type="submit" value="Add" data-toggle="modal"
                                            data-target="#NoticeModal">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Add an Authorization
                                    </button>
                                    {# TODO: Implement Complete button #}
                                    {# TODO: Implement Send button #}
                                    <button class="btn btn-default" type="button" value="SendNotice" disabled>
                                        <span class="glyphicon glyphicon-send"></span> Email Notices
                                    </button>
                                    <button class="btn btn-default" type="button" value="SendNotice" disabled>
                                        <span class="glyphicon glyphicon-share-alt"></span> Promote to Completed
                                    </button>
                                </div>
                            </div>

                            <!-- Notice Modal Window -->
                            <div class="modal fade" id="NoticeModal" tabindex="-1" role="dialog"
                                 aria-labelledby="NoticeModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form action="{{ url_for('insert_notice') }}" method=post>
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="NoticeModalLabel">Add Authorization</h4>
                                            </div>
                                            <div class="modal-body">
                                                {{ render_field(doc_change_notice_form.id, class='form-control') }}
                                                {{ render_field(doc_change_notice_form.doc_change_id, class='form-control') }}
                                                {{ render_field(doc_change_notice_form.authorize_name, class='form-control') }}
                                                {{ render_field(doc_change_notice_form.authorize_email, class='form-control') }}
                                                {{ render_field(doc_change_notice_form.notes, class='form-control') }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" id="close"
                                                        data-dismiss="modal">
                                                    <span class="glyphicon glyphicon-remove"></span> Close
                                                </button>
                                                <button class="btn btn-primary" type="submit" id="save">
                                                    <span class="glyphicon glyphicon-save"></span> Save Changes
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- /Notice Modal Window -->

                        </div>
                    </div>
                </div> <!-- /Notice Panel -->

            </div> <!-- /Request / Order / Notice Panel Group -->

        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script>
        // Date Picker
        $('.datepicker').datepicker({
            format: "m/d/yyyy",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        });

        // Populate Affected Parts Modal when edit button is clicked
        $('#AffectedPartsModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            if (button.val() === "Edit") {
                // Change form action to UPDATE
                modal.find('.modal-content form').attr("action", "{{ url_for('update_affected_part_no') }}");

                // Change title
                modal.find('.modal-header #AffectedPartsModalLabel').html("Edit Affected Part No");

                // Change save button text
                modal.find('.modal-footer #save').html("<span class=\"glyphicon glyphicon-save\"></span> Update");

                // Get data from button
                var row_id = button.data('row_id');
                var doc_change_id = button.data('doc_change_id');
                var part_no = button.data('part_no');
                var revision = button.data('revision');
                var description = button.data('description');
                var routing = button.data('routing');

                // Populate fields
                modal.find('.modal-body #id').val(row_id);
                modal.find('.modal-body #doc_change_id').val(doc_change_id);
                modal.find('.modal-body #part_no').val(part_no);
                modal.find('.modal-body #desc').val(description);
                modal.find('.modal-body #rev').val(revision);
                modal.find('.modal-body #routing').val(routing);
            } else if (button.val() === "Add") {
                // Change form action to INSERT
                modal.find('.modal-content form').attr("action", "{{ url_for('insert_affected_part_no') }}");

                // Change title
                modal.find('.modal-header #AffectedPartsModalLabel').html("Add Affected Part No");

                // Change save button text
                modal.find('.modal-footer #save').html("<span class=\"glyphicon glyphicon-save\"></span> Add")

                // Clear fields
                modal.find('.modal-body #id').val("");
                modal.find('.modal-body #part_no').val("");
                modal.find('.modal-body #desc').val("");
                modal.find('.modal-body #rev').val("");
                modal.find('.modal-body #routing').val("");
            }
        })

        // Populate Requests Modal when edit button is clicked
        $('#RequestModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            if (button.val() === "Edit") {
                // Change form action to UPDATE
                modal.find('.modal-content form').attr("action", "{{ url_for('update_request') }}");

                // Change title
                modal.find('.modal-header #RequestModalLabel').html("Edit Stakeholder");

                // Change save button text
                modal.find('.modal-footer #save').html("<span class=\"glyphicon glyphicon-save\"></span> Update");

                // Get data from button
                var row_id = button.data('row_id');
                var doc_change_id = button.data('doc_change_id');
                var stakeholder_name = button.data('stakeholder_name');
                var stakeholder_email = button.data('stakeholder_email');
                var status = button.data('status');
                var sent_date = button.data('sent_date');
                var approval_date = button.data('approval_date');
                var notes = button.data('notes');

                // Populate fields
                modal.find('.modal-body #id').val(row_id);
                modal.find('.modal-body #doc_change_id').val(doc_change_id);
                modal.find('.modal-body #stakeholder_name').val(stakeholder_name);
                modal.find('.modal-body #stakeholder_email').val(stakeholder_email);
                modal.find('.modal-body #status').val(status);
                modal.find('.modal-body #sent_date').val(sent_date);
                modal.find('.modal-body #approval_date').val(approval_date);
                modal.find('.modal-body #notes').val(notes);
            } else if (button.val() === "Add") {
                // Change form action to INSERT
                modal.find('.modal-content form').attr("action", "{{ url_for('insert_request') }}");

                // Change title
                modal.find('.modal-header #RequestModalLabel').html("Add Stakeholder");

                // Change save button text
                modal.find('.modal-footer #save').html("<span class=\"glyphicon glyphicon-save\"></span> Add")

                // Clear fields
                modal.find('.modal-body #id').val("");
                modal.find('.modal-body #name').val("");
                modal.find('.modal-body #email').val("");
                modal.find('.modal-body #status').val("");
                modal.find('.modal-body #sent_date').val("");
                modal.find('.modal-body #approval_date').val("");
                modal.find('.modal-body #notes').val("");
            }
        });

        // Populate Orders Modal when edit button is clicked
        $('#OrderModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            if (button.val() === "Edit") {
                // Change form action to UPDATE
                modal.find('.modal-content form').attr("action", "{{ url_for('update_order') }}");

                // Change title
                modal.find('.modal-header #OrderModalLabel').html("Edit Order");

                // Change save button text
                modal.find('.modal-footer #save').html("<span class=\"glyphicon glyphicon-save\"></span> Update");

                // Get data from button
                var row_id = button.data('row_id');
                var doc_change_id = button.data('doc_change_id');
                var document_type_id = button.data('document_type_id');
                var notes = button.data('notes');
                var responsible_name = button.data('responsible_name');
                var responsible_email = button.data('responsible_email');
                var due_date = button.data('due_date');
                var sent_date = button.data('sent_date');
                var completed_date = button.data('completed_date');
                var new_revision = button.data('new_revision');

                // Populate fields
                modal.find('.modal-body #id').val(row_id);
                modal.find('.modal-body #doc_change_id').val(doc_change_id);
                modal.find('.modal-body #document_type_id').val(document_type_id);
                modal.find('.modal-body #notes').val(notes);
                modal.find('.modal-body #responsible_name').val(responsible_name);
                modal.find('.modal-body #responsible_email').val(responsible_email);
                modal.find('.modal-body #due_date').val(due_date);
                modal.find('.modal-body #sent_date').val(sent_date);
                modal.find('.modal-body #completed_date').val(completed_date);
                modal.find('.modal-body #new_revision').val(new_revision);
            } else if (button.val() === "Add") {
                // Change form action to INSERT
                modal.find('.modal-content form').attr("action", "{{ url_for('insert_order') }}");

                // Change title
                modal.find('.modal-header #OrderModalLabel').html("Add Order");

                // Change save button text
                modal.find('.modal-footer #save').html("<span class=\"glyphicon glyphicon-save\"></span> Add")

                // Clear fields
                modal.find('.modal-body #id').val("");
                modal.find('.modal-body #document_type_id').val("");
                modal.find('.modal-body #notes').val("");
                modal.find('.modal-body #responsible_name').val("");
                modal.find('.modal-body #responsible_email').val("");
                modal.find('.modal-body #due_date').val("");
                modal.find('.modal-body #sent_date').val("");
                modal.find('.modal-body #completed_date').val("");
                modal.find('.modal-body #new_revision').val("");
            }
        });

        // Populate Notices Modal when edit button is clicked
        $('#NoticeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            if (button.val() === "Edit") {
                // Change form action to UPDATE
                modal.find('.modal-content form').attr("action", "{{ url_for('update_notice') }}");

                // Change title
                modal.find('.modal-header #NoticeModalLabel').html("Edit Authorization");

                // Change save button text
                modal.find('.modal-footer #save').html("<span class=\"glyphicon glyphicon-save\"></span> Update");

                // Get data from button
                var row_id = button.data('row_id');
                var doc_change_id = button.data('doc_change_id');
                var authorize_name = button.data('authorize_name');
                var authorize_email = button.data('authorize_email');
                var sent_date = button.data('sent_date');
                var authorize_date = button.data('authorize_date');
                var notes = button.data('notes');

                // Populate fields
                modal.find('.modal-body #id').val(row_id);
                modal.find('.modal-body #doc_change_id').val(doc_change_id);
                modal.find('.modal-body #authorize_name').val(authorize_name);
                modal.find('.modal-body #authorize_email').val(authorize_email);
                modal.find('.modal-body #notes').val(notes);
            } else if (button.val() === "Add") {
                // Change form action to INSERT
                modal.find('.modal-content form').attr("action", "{{ url_for('insert_notice') }}");

                // Change title
                modal.find('.modal-header #NoticeModalLabel').html("Add Authorization");

                // Change save button text
                modal.find('.modal-footer #save').html("<span class=\"glyphicon glyphicon-save\"></span> Add")

                // Clear fields
                modal.find('.modal-body #id').val("");
                modal.find('.modal-body #authorize_name').val("");
                modal.find('.modal-body #authorize_email').val("");
                modal.find('.modal-body #notes').val("");
            }
        })
    </script>
{% endblock %}