{% extends "layout.html" -%}
{% block body -%}
    <div class="container">
        {% if error -%}
            <div class="card red">
                <div class="card-content white-text">
                    <p><strong>Error:</strong> {{ error }}</p>
                </div>
            </div>
        {% endif -%}
        {% from "_formhelpers.html" import render_field -%}
        <div class="row login-form">
            <div class="col s4 offset-s4 card-panel">
                <form class="login-form" action="{{ url_for('do_login') }}" method=post>
                    <div class="row">
                        <div class="input-field col s12 center">
                            <p class="form-heading">Please sign in</p>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="mdi-social-person-outline prefix"></i>
                            {{ render_field(form.email, autofocus='') }}
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="mdi-social-person-outline prefix"></i>
                            {{ render_field(form.password) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light col s12" type="submit">Sign in
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock -%}