{% extends "layout.html" -%}
{% block body -%}
    <div class="container">
        {% if error -%}
            <div class="alert alert-danger">
                <p><strong>Error:</strong> {{ error }}</p>
            </div>
        {% endif -%}
    </div>
    <div class="container">
        <h2>View All Document Changes</h2>
        <div class="table table-responsive">
            <table id="doc_change_table">
                <thead>
                <tr>
                    <th data-sortable="true" data-align="center">ID</th>
                    <th data-sortable="true" data-align="center">Status</th>
                    <th data-sortable="true" data-align="center">Submit Date</th>
                    <th data-sortable="false" data-align="left">Problem</th>
                    <th data-sortable="false" data-align="left">Proposal</th>
                    <th data-sortable="false" data-align="left">Affected Part Nos</th>
                </tr>
                </thead>
                <tbody>
                {% for row in rows -%}
                    <tr>
                        <td><a href="{{ url_for('show_doc_change', doc_change_id = row.id) }}">{{ row.id }}</a></td>
                        <td>{{ row.status }}</td>
                        <td>{{ row.submit_date }}</td>
                        <td>{{ row.problem_desc }}</td>
                        <td>{{ row.proposal_desc }}</td>
                        <td>{{ row[5] }}</td>
                    </tr>
                {% endfor -%}
                </tbody>
            </table>
        </div>
    </div>
{% endblock -%}
{% block js -%}
<!-- TableSorter JS -->
<!-- TableSorter Pager Plugin -->
<script src="{{ url_for('static', filename='js/jquery.tablesorter.pager.js') }}"></script>

<script>
    $(function () {
        $('#doc_change_table').tablesorter();
    });
</script>
{% endblock -%}